<br>

<h1>Наши проекты:</h1>

<h2>БЕЛЫЙ АИСТ</h2>
<p>Организация оздоровление детей, обмена студентов, укрепления международного сотрудничества, идей милосердия среди подрастающего поколения.</p>



<h2>ОТ СЕРДЦА К СЕРДЦУ</h2>

<p>Нравственное, духовное, культурное воспитание молодёжи, восстановлений традиций семьи, развитие в деталях чувства материнства и отцовства на основе христианских ценностей.</p>



<h2>МАТЬ И ДИТЯ</h2>

<p>Оказание социальной помощи и поддержки матерям-одиночкам, неполным семьям.</p>



<h2>МАЛЕНЬКИЕ ЛЮДИ НА БОЛЬШОЙ ПЛАНЕТЕ</h2>

<p>Помощь и поддержка детей – сирот в домах ребёнка.</p>



<h2>РАДУГА НАДЕЖДЫ</h2>

<p>Создание оздоровительно-трудовых лагерей на территории Республики Беларусь с целью приобщения детей к труду и здоровому образу жизни, развития их индивидуальных способностей и интересов.</p>



<h2>КРАСКИ ДУШИ</h2>

<p>Социально-психологическая поддержка молодых инвалидов, школ-интернатов для детей с особенностями психофизического развития.</p>  



<h2>КАЖДОЙ ШКОЛЕ - ЗЕЛЁНЫЕ ЛЕГКИЕ</h2>

<p>Обустройство в школах-интернатах, школах-приютах, детских домах дендрариев для улучшения среды обитания детей, возрождение пришкольных садов.</p>



<h2>НЕТ - НАРКОТИКАМ И СПИДу</h2>

<p>Проведение благотворительных акций, с целью оказания реальной помощи детям, пострадавшим от наркотиков и СПИДа.</p>



<h2>ДЫХАНИЕ МИРА</h2>

<p>Поддержка юных талантов Беларуси, создание мастерских по интересам, проведение творческих конкурсов среди детей-инвалидов, сирот.</p>



<h2>ЭКОЛОГИЯ ЗЕМЛИ И ДУШИ</h2>

<p>Проведение совместных республиканских и международных семинаров по вопросам экологии, последствий  аварии на ЧАЭС.</p>



<h2>КИСТОЧКА МИРА</h2>

<p>Образовательный проект.<br>

Развитие современного общества невозможно представить без взаимодействия культур различных народов. Его цель собрать команду из учителей, учеников, студентов РБ и зарубежных стран для обмена опытом. Совместная работа и досуг помогут узнать больше друг о друге, познакомиться с культурой, языком и традициями страны.

Основная цель данного проекта - привлечь волонтеров из разных стран к активному оказанию всевозможной помощи.нуждающимся.

Проект предоставит возможность студентам укрепить навыки работы в команде, преодолеть языковые барьеры, раскрыть творческие потенциалы, изучить  культуру, традиции, историю РБ.</p>



<h2>РОЖДЕСТВЕНСКИЕ ВСТРЕЧИ</h2>

<p>Организация, проведение Новогодних Рождественских благотворительных акций.</p>

<h2>АГРО – МИНИ ПРОЕКТЫ</h2>

<p>Основные задачи:<br>

-объединить усилия педагогов, учащихся, общественности, волонтеров разных стран, направленных на благоустройство, озеленение  пришкольных территорий, возрождение фруктовых садов. Сельская школа - культурный очаг. Ребенок проводит здесь много времени. Очень важно с детства привлекать к труду, садоводству, уходу за животными.</p>



<h2>ЖЕМЧУЖИНЫ ТАРАСИКОВ</h2>

<p>В Минской области, среди глухих лесов, в маленькой всеми забытой деревне Тарасики находится «Борисовский психоневрологический дом-интернат». В этой глуши за высоким забором проживает около 300 человек старше 18 лет с различными формами заболеваний: слабовидящие, слабослышащие, парализованные, с дефектами психического и физического развития, старческим слабоумием, с болезнью Дауна, эпилепсией, люди с постоянным психическим возбуждением. У многих из них нет родственников,. Построен этот дом-интернат в период 1946-1948гг. Здесь очень рады любой гуманитарной помощи. Проживающие интерната ждут помощи от каждого, кто не равнодушен к их проблемам. В проекте участвуют студенты волонтеры МГЛУ.</p> 



<h2>ВОЗВРАЩЕНИЕ</h2>

<p>Проект социальной реабилитации  и адаптации людей - инвалидов  к  самостоятельной жизни. Создание домов семейного типа.</p>

 
