body {
width:940px;
margin:0 auto;
margin-top:30px;
background-color:#63DC90;
}



/* ----- HEADER ----- */



#header {
width:940px;
height:150px;
background-color:#00C7FF;
border-radius: 0px 0px 20px 20px;
}



/* ----- NAVIGATION ----- */



#navigation {
width:940px;
height:40px;
background-color:#333333;
margin-top:10px;
border-radius: 20px;
}





/* ----- MAIN CONTENT ----#FFD273- */



#content { 
width:940px;
min-height:450px; /* for modern browsers */
height:auto !important; /* for modern browsers */
height:450px; /* for IE5.x and IE6 */background-color:#FFDB8A;
margin-top:10px;
border-radius: 20px 20px 0px 0px;
}



/* ----- FOOTER ----- */



#footer { 
width:940px;
height:140px;
height:auto;
background-color:#FFA74D;
margin-top:10px;
border-radius: 3px;
}






.button2 {
	-moz-box-shadow:inset 0px 1px 0px 0px #fce2c1;
	-webkit-box-shadow:inset 0px 1px 0px 0px #fce2c1;
	box-shadow:inset 0px 1px 0px 0px #fce2c1;
	background-color:#ffc477;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #eeb44f;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #cc9f52;
}.button2:hover {
	background-color:#fb9e25;
}.button2:active {
	position:relative;
	top:1px;
}


.button1 {
position: center;
	-moz-box-shadow:inset 0px 1px 0px 0px #f5978e;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f5978e;
	box-shadow:inset 0px 1px 0px 0px #f5978e;
	background-color:#f24537;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #d02718;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:20px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #810e05;
}.button1:hover {
	background-color:#eb3023;
}.button1:active {
	position:relative;
	top:1px;
}


.button_small {
    -moz-box-shadow:inset 0px 1px 0px 0px #f29c93;
    -webkit-box-shadow:inset 0px 1px 0px 0px #f29c93;
    box-shadow:inset 0px 1px 0px 0px #f29c93;
    background-color:#fa6150;
    -moz-border-radius:9px;
    -webkit-border-radius:9px;
    border-radius:9px;
    display:inline-block;
    color:#ffffff;
    font-family:arial;
    font-size:13px;
    font-weight:bold;
    padding:2px 16px;
    text-decoration:none;
    text-shadow:1px 1px 0px #b23e35;
}.button_small:hover {
     background-color:#d61e1e;
 }.button_small:active {
      position:relative;
      top:1px;
  }

.post_title {
    -moz-box-shadow:inset 50px 1px 0px -50px #bbdaf7;
    -webkit-box-shadow:inset 50px 1px 0px -50px #bbdaf7;
    box-shadow:inset 50px 1px 0px -50px #bbdaf7;
    background-color:#79bbff;
    -moz-border-radius:42px;
    -webkit-border-radius:42px;
    border-radius:42px;
    border:1px solid #84bbf3;
    display:inline-block;
    color:#bd2222;
    font-family:Times New Roman;
    font-size:25px;
    font-weight:bold;
    padding:0px 15px;
    text-decoration:none;
}.post_title:hover {
     background-color:#fa6150;
     color:#ffffff;
 }.post_title:active {
      position:relative;
      top:1px;
  }



.leftimg {
    float:left; /* Выравнивание по левому краю */
    margin: 7px 7px 7px 0; /* Отступы вокруг картинки */
}
.rightimg  {
    float: right; /* Выравнивание по правому краю  */
    margin: 7px 0 7px 7px; /* Отступы вокруг картинки */
}


