<br>

<h1>Наши проекты:</h1>

<h2>БЕЛЫЙ АИСТ</h2>
<p>Организация зарубежных туров с целью оздоровления детей, укрепления международного сотрудничества, пропаганды идей милосердия среди подрастающего поколения.</p>
<h2>ОТ СЕРДЦА К СЕРДЦУ</h2>
<p>Нравственное и культурное воспитание молодёжи, восстановлений традиций семьи, развитие в деталях чувства материнства и отцовства на основе христианских ценностей.</p>
<h2>КРАСКИ ДУШИ </h2>
<p>Помощь Детскому дому дом - интернату с особенностями психофизиологического развития. Маленькие люди на большой планете – Поддержка и оказание благотворительности домам ребенка.</p>
<h2>МАТЬ И ДИТЯ </h2>
<p>Оказание социальной помощи и поддержки матерям-одиночкам.</p>
<h2>НАДЕЖДЫ ТАРАСИКОВ</h2>
<p>Надежды Тарасиков «Жемчужины Тарасиков»
<h2>РАДУГА НАДЕЖДЫ</h2>
<p>Создание оздоровительно-трудовых спортивных лагерей на территории РБ с целью приобщения детей к труду, здоровому образу жизни, развития способностей и интересов.</p>
<h2>ДУША</h2>
<p>Социально-психологическая поддержка инвалидов, оказание гуманитарной помощи домам-интернатам для инвалидов.</p>

<h2>КАЖДОЙ ШКОЛЕ – ЗЕЛЁНЫЕ ЛЕГКИЕ</h2>
<p>Обустройство в домах-интернатах, приютах, детских домах дендрариев для улучшения среды обитания детей и подростков, возрождение пришкольных садов.</p>
<h2>НЕТ – НАРКОТИКАМ И СПИДу</h2>
<p>Проведение международных благотворительных акций с целью оказания реальной помощи детям, пострадавшим от наркотиков и СПИДа.</p>
<h2>ДЫХАНИЕ МИРА</h2>
<p>Поддержка юных талантов Беларуси, проведение творческих конкурсов среди детей-инвалидов, сирот, создание мастерских по интересам.</p>
<h2>ЭКОЛОГИЯ ЗЕМЛИ И ДУШИ</h2>
<p>Проведение совместных республиканских и международных семинаров по вопросам экологии, наркомании, СПИДа, последствий аварии на ЧАЭС.</p>
<h2>КИСТОЧКА МИРА</h2>
<p>Проект по обмену творческих молодёжных групп с целью обмена опыта обучения, изучения истории, традиций, культуры стран.</p>